.insta{
    background:#fff;
    float:right;
    width:25%;
    margin-top:20px;
    margin-right:400px;
    padding:10px
}
.insta p{
    font-size: 40px;
    font-weight: bold;
    font-family: eufm10;
    text-align: center;   
}
pre{
    text-align: center;
    color: gray;
}
.name{
    padding: 5px;
    margin: auto;
    width: 100%;
    margin-bottom: 5px
}
.hr1{
    width: 40%;
    float: left;
}
.hr2{
    width: 10%;
    float:left;
}