.rounded-circle{
    border-radius: 50%;
    width: 50px;
    
    background-color: white
}

.navbar{
    background-color:white;
    border:solid 1px rgb(227, 230, 227);
    width: 100%;
    position:fixed;
}
.logo{
    margin-left: 30px;
}
.logout{
    margin-right:100px;
}
.search{
    border-radius: 3px;
    background-color: #fafafa;
    border:solid 1px rgb(227, 230, 227);
    text-align: center;
    color: darkgrey; 
}
.new{
    background-image: linear-gradient(to right top, #f6fafb, #f6fafc, #f6fafc, #f6f9fd, #f7f9fd, #f1f4f8, #ebeef2, #e5e9ed, #d6dde1, #c8d1d4, #bac5c6, #adb9b8);
    margin-bottom:20px;
    
}